@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat:ital,wght@1,300&family=Oswald:wght@600&family=PT+Sans+Narrow:wght@700&family=Pacifico&family=Yanone+Kaffeesatz:wght@500&display=swap');
*
{
    margin:0px;
    padding:0px;
}
body
{
    padding:0px;
    margin:0px;
}
header
{
    width:100%;
    position:sticky;
    top:0px;
    height:55px;
    padding-top:10px;
    border-bottom-style: solid;
    border-bottom-color:white;
    background-color:black;
    margin-top:0px;
}
.navbar span
{
    color:white;
    font-size:25px;
    float:left;
    font-family: 'Pacifico', cursive; 
    margin:0px 0px 3px auto;
   
}
#accent
{
    color:red; 
    margin-right:15px;
    margin-left:5px;    
   
}

#login ul
{
    float : right;
    display:inline-block;
    margin-top:6px;
    
}
#login ul li{
    float:left;
    margin:5px 20px 0px 0px;
        
    padding:2px 5px;
}
#login ul li a
{
    text-decoration: none;
    color:white;
    
}
#login .register
{
    border-style:solid;
     font-family:"AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
    font-weight: bold;
    background-color:#3273a8;
    border-color:black;
    border-width:3px;
    padding:5px 40px;
    border-radius:10px;
    
}
.navbar ul li
{
    display:inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar ul
{
    list-style: none;
    float:left;
    margin-left:25%;
    margin-top:5px;
   
    
    
    
}
.navbar ul li a
{
    text-decoration:none;
   float:left;
   border-style:solid;
    border-color:white;
    padding:7px 25px;
    border-width:2px;
    color:white;
    border-radius: 20px;
    margin:0px 15px 0px 0px; 
    font-size:20px;
  
    
} 
.navbar a:hover
{
     background-color:white;
    color:black;
   
    font-family:Verdana;
    transition: ease 0.6s
    
}


#active
{
    background-color:white;
    color:black;
    font-weight:bold;
     font-family: 'Yanone Kaffeesatz', sans-serif;
}

body
{
    background-image:url("../img/background.jpg");
    height:100vh;
    background-size:cover;
    background-position:center;
    padding:0px 5px;
    
    
}
h2
{
    margin-top:30px;
    color:white;
    font-family: 'PT Sans Narrow', sans-serif;
}
label
{
    color:white;
    font-size:20px;
}
.selector
{
    float:center;
    margin-left:5%;
    margin-right:auto;
    margin-top:5px;
   font-family: 'Oswald';
    
}
.selector select
{
  margin-right:30px;
    margin-top:0px;
}
main
{
    
    padding:2px 10px;
   
    margin-top:10px;
    
    
    
}
.notes
{
    float:center;
    

}
.notes ul
{
    list-style: none;
}
.notes form ul li
{
   font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.notes label
{
    margin-left:2px;
}
.notes input
{
    margin-left:25%;
}

.checkout
{
    float:center;
    margin-top:50px;
}
.checkout a
{
    text-decoration:none;
    color:white;
    border-style:solid;
    background-image:linear-gradient(to bottom,rgba(227, 14, 14,1),rgba(201, 28, 28,1));
    padding:5px 20px;
    margin-right:10px;
    margin-bottom:10px;
    border-radius:20px;
    font-size:20px;
    font-family:Verdana;
    border-color:black;
    
}
.checkout ul
{
    list-style: none;
    margin-left:37%;
    margin-right:auto;
    float:left;
    
}
.checkout ul li
{
    float:left;
    margin:10px 30px auto 3px;
    
    
}
.notes ul
{
    list-style:none;
    
}
.box
{
    width:45%;
    border:2px solid white;
    border-radius:20px;
    margin-right:auto;
    margin-left:auto;
    height:400px;
    background-color:rgba(0,0,0,0.6);
    padding:5px 0px;
}
.notes h2
{
    display:block;
    margin-left:3%;
    font-family: 'Jost', sans-serif;
}

