*
{
    margin:0px;
    padding:0px;
}
header
{
    width:100%;
    
    height:50px;
    padding-top:10px;
    border-bottom-style: solid;
    border-bottom-color:white;
    background-color:black;
    margin-top:0px;
}
.navbar span
{
    color:white;
    font-size:25px;
    float:left;
    font-family:fantasy; 
    margin:0px 0px 3px auto;
   
}
#accent
{
    color:red; 
    margin-right:15px;
    margin-left:5px;    
   
}

#login ul
{
    /*float : right;*/
    display:inline-block;
    
}
#login ul li{
    float:left;
    margin:5px 20px 0px 0px;
        
    padding:2px 5px;
}
#login ul li a
{
    text-decoration: none;
    color:white;
    
}
#login .register
{
    border-style:solid;
     font-family:"AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
    font-weight: bold;
    background-color:#3273a8;
    border-color:black;
    border-width:3px;
    padding:5px 40px;
    border-radius:10px;
    
}
.navbar ul li
{
    display:inline-block;
}

.navbar ul
{
    list-style: none;
    float:left;
    margin-left:25%;
   
    
    
    
}
.navbar ul li a
{
    text-decoration:none;
   float:left;
   border-style:solid;
    border-color:white;
    padding:5px 20px;
    border-width:2px;
    color:white;
    border-radius: 20px;
    margin:0px 15px 0px 0px; 
  
    
} 
.navbar a:hover
{
     background-color:white;
    color:black;
   
    font-family:Verdana;
    transition: ease 0.6s
    
}


#active
{
    background-color:white;
    color:black;
    font-weight:bold;
    font-family:Verdana;
}

body
{
    background-image:url("../img/background.jpg");
    height:100vh;
    background-size:cover;
    background-position:center;
    padding:0px 5px;
    
    
}
h2
{
    margin-top:30px;
    color:white;
}
label
{
    color:white;
    font-size:20px;
}
.selector
{
    float:center;
    margin-left:30%;
}
.selector select
{
  margin-right:30px;
}
main
{
    
    padding:2px 10px;
   
    margin-top:10px;
    
    
    
}
.notes
{
    float:center;
    

}
.notes ui 
{
    list-style: none;
}
.notes label
{
    margin-left:2px;
}
.notes input
{
    margin-left:38%;
}
#select
{
    margin-left:30%;
}
.checkout
{
    float:center;
    margin-top:50px;
}
.checkout a
{
    text-decoration:none;
    color:black;
    border-style:solid;
    background-color:rgba(255, 255, 255,0.5);
    padding:5px 20px;
    margin-right:10px;
    margin-bottom:10px;
    border-radius:10px;
    font-size:20px;
    font-family:Verdana;
    
}
.checkout ul
{
    list-style: none;
    margin-left:40%
    
}
.checkout ul li
{
    float:left;
    margin-top:10px 30px auto 3px;
    
    
}
.notes ul
{
    list-style:none;
}

