.header img
{
    background:black;
    display:inline;
    margin-left:2px;
    
}
#search 
{
    float:center;
    color:black;
    margin:12px 0px 2px 350px;
    width:300px;
    height:15px;
    display:inline-block;
    clear:both;
}

#logo
{
    float:left;
      width:125px;
    height:75px;
}
#sicon
{
    float:center;
    margin:10px 0px 2px 2px;
    width:17px;
    height:17px;
    display:inline-block;
}
.header a
{
    border-style:outset;    
    border-width:2px;
    padding:5px 20px;
    color:white;
    font-family:serif;
    text-decoration: none;
    font-family: Verdana;
    border-radius:12px;
    margin:10px 5px 2px 5px;
    float:right;   
}
#navbar
{
    text-align:left;
    
    font-size:25px;
    margin-top:1px;
    
}
.header a:hover{
    background-color:white;
    color:black;
    transition: 0.6s ease;
}
#active
{
    background-color:white;
    color:black;
    font-weight: bold;

}

.main h2
{
    color:white;
    font-family: "Titillium Web";
    
}


body
{
    margin:0px;
    background-image:url("../img/dark-gradient-background-vector-23445655.jpg");
    background-repeat: repeat-x;    
    padding:10px;
}


.main a{
   
    border-radius:8px;
    border-style:outset;
}
.main a:hover{
    background-color: white;
    color:black;
    transition: 0.6s ease;
}
p
{
    color:white;
    display:block;
}
.main a
{
    border-style:outset;    
    border-width:1px;
    padding:5px 20px;
    color:white;
    font-family:serif;
    text-decoration: none;
    font-family: Verdana;
    border-radius:12px;
    margin:2px 5px 2px 5px;
    float:left;
   
   
    
}
.main
{
    margin:10px 0px 0px auto;
}
.main h2
{
    font-family:sans-serif;
    
}



