


body
{
background-color:#821752;
font-family: font-family: 'Cabin', sans-serif;
}
.container-fluid
{
  padding:2rem 5rem;
}
.navigation
{
  margin-left:65%;

}
.navbar
{
  background-color:#821752;

}
a
{
  color:white;
}
.monitor
{
  height: 500px;
  padding-left:20%;
  padding-top:10%;
}
.tag-line
{
  padding-top:10%;

}
.btn
{
  padding:1rem;
  margin-top:5rem;
  margin-left:2rem;
}
h1
{
  color:white;
  margin-left:15%;
  font-family: 'Cabin', sans-serif;
}
.butt
{
  margin-left:15%;
}
.navbar-brand
{
   font-family: 'Merriweather', serif;
}
